* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 233, 239);
  color: black;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  display: grid;
}

h1 {
  line-height: 1;
}

img {
  display: block;
}
ul {
  /* display: flex;
  flex-direction: row; */
  /* gap: var(--size-3); */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 270px;
  overflow-x: scroll;
  width: 100%;

  /* display: flex;
  flex-direction: row; */
  /* list-style-type: none; */
  /* padding: 0; */
  /* display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 10px; */
}

.main {
  /* display: flex;
  flex-direction: row; */
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  height: 10vh;
  background-color: #a5a2aa;
  position: relative;
}

.search {
  margin-top: 12px;
  margin-left: 30px;
  height: 5.5vh;
  width: 40vh;
  text-align: start;
  padding-left: 20px;
  border: 1px solid;
  border-radius: 20px;
  border-color: grey;

  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: 15.3rem;
  background-size: 30px;
}

/* .dropbtn {
  background-color: #bfbcc5;
  color: black;
  padding: 10px 30px;
  margin: 12px 20px;
  font-size: 16px;
  border: 1px solid rgb(149, 148, 148);
  border-radius: 5px;

}

 .dropdown {
  margin-right: auto;
  /* position: absolute;
  left: 0;
 }


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bfbcc5;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid gray;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  background-color: #bfbcc5;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  margin-left: 10px;
}  */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
  background-color: #bfbcc5;
} */

.container {
  place-content: center;
  background-color: #fff;
  padding: 2rem;
  margin: 0.5rem;
  box-shadow: 0 10px 20px 5px #6f454b50;
}

.container-overview {
  place-content: center;
  background-color: #fff;
  padding: 1.3rem 1.7rem;
  margin: 0.5rem;
  box-shadow: 0 10px 20px 5px #6f454b50;
}

.top {
  margin-bottom: 2rem;
  
}

.top-overview {
  margin-bottom: 0.5rem;
  font-size: 13px;
}

.top 
.title-rating {
  margin-bottom: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-overview 
.title-rating-overview {
  margin-bottom: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top .title-rating p {
  color: #2d2c2c;
  font-size: 1.15rem;
}

.top-overview .title-rating-overview p {
  color: #2d2c2c;
  font-size: 1rem;
}

.top-overview .title-rating-overview span {
  font-size: 25px;
}

.top .genre {
  color: rgb(202, 93, 111);
  font-weight: 600;
  margin-top: 0.5rem;
}

.top-overview .genre-overview {
  color: rgb(202, 93, 111);
  font-weight: 600;
  font-size: 14px;
  margin: 0.7rem 0rem;
}

.movie {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; 
}

.movie-overview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; 
}

.movie .movie-description .about-movie {
  margin-bottom: 0.5rem;
}

.movie .movie-description .movie-text {
  font-size: 1rem;
}

.movie-overview .movie-description-overview .movie-text-overview {
  font-size: 0.9rem;
}

.movie .movie-description .credits {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

.movie .movie-description .credits h2 {
  margin-bottom: 0.5rem;
}

.movie 
.movie-description 
.credits 
.actor {
  color: rgb(202, 93, 111);
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.movie 
.movie-description 
.credits 
.director {
  color: rgb(202, 93, 111);
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.movie 
.movie-description 
.credits 
.screenwriter {
  color: rgb(202, 93, 111);
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.btn-movie {
  background-color: rgb(239, 229, 239);
  color: rgb(202, 93, 111);
  margin: -1rem 0rem;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 8px;
}
.btn-movie:hover {
  background-color: rgb(234, 212, 234);
}

.myModal {
  position: fixed;
  background-color: grey;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  overflow: auto; 
  /* Enable scroll if needed */
}

.modal-content {
  margin: auto;
  padding: 0px;
  width: 100%;
}

.btn-modal {
  color: #aaaaaa;
  background: none;
  border: none;
  position: fixed;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
 /* transform: translate(26.8rem, -0.1rem); */
 /* transform: translate(35rem, 0rem); */
}
.btn-modal:hover,
.btn-modal:focus {
  color: #000;
  cursor: pointer;
}

.window {
  display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
  /* width: 43rem; */
}

.window h2 {
  margin: 2rem 0rem 1rem 2rem;
}

/* .list .list-movies {
  display: flex;
  flex-direction: rows; */
  /* list-style-type: none;
  padding: 0; */
  /* display: grid;
  grid-template-rows: repeat(auto-fit, minmax(230px, 1fr));
  gap: 10px; 
  }*/

@media (min-width: 500px) {
  .btn-movie {
    margin: -1rem 6rem;
  }
}

@media (min-width: 680px) {
  .btn-movie {
    margin: -1rem 10rem;
  }
}

/* 

@media (max-width: 768px) {
  .movie {
    grid-template-columns: 1fr;
  }
  .search {
    width: 30vh;
  }
}

@media (max-width: 850px) {
  .btn-movie {
    position: absolute;
    left: 35%;
    margin: -1rem 2rem;
  }
}

*/
