* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 233, 239);
  color: black;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  display: grid;
}

h1 {
  line-height: 1;
}

img {
  display: block;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  background-color: #a5a2aa;
  position: relative;
}

.search {
  margin-top: 12px;
  margin-right: 30px;
  height: 5.5vh;
  width: 40vh;
  text-align: start;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: grey;

  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px;
}

.dropbtn {
  background-color: #bfbcc5;
  color: black;
  padding: 10px 30px;
  margin: 12px 20px;
  font-size: 16px;
  border: 1px solid rgb(149, 148, 148);
  border-radius: 5px;

}

.dropdown {
  margin-right: auto;
  /* position: absolute;
  left: 0; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bfbcc5;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid gray;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  background-color: #bfbcc5;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
  margin-left: 10px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #bfbcc5;
}

.container {
  place-content: center;
  background-color: #fff;
  padding: 2rem;
  margin: 1rem 2rem;
  box-shadow: 0 10px 20px 5px #6f454b50;
}

.top {
  margin-bottom: 2rem;
}

.top .title-rating {
  margin-bottom: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.top .title-rating p {
  color: #2d2c2c;
  font-size: 1.15rem;
}

.top .genre {
  color: rgb(202, 93, 111);
  font-weight: 600;
}

.movie {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.movie .movie-description .about-movie {
  margin-bottom: 0.5rem;
}

.movie .movie-description .movie-text {
  font-size: 1rem;
}

.movie .movie-description .credits {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
}

.movie .movie-description .credits h2 {
  margin-bottom: 0.5rem;
}

.movie 
.movie-description 
.credits 
.actor {
  color: rgb(202, 93, 111);
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.movie 
.movie-description 
.credits 
.director {
  color: rgb(202, 93, 111);
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.movie 
.movie-description 
.credits 
.screenwriter {
  color: rgb(202, 93, 111);
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.btn-add {
  background-color: rgb(239, 229, 239);
  color: rgb(202, 93, 111);
  margin: 0rem 2rem;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 8px;
}
.btn-add:hover {
  background-color: rgb(234, 212, 234);
}

@media (max-width: 680px) {
  .btn-add {
    position: absolute;
    left: 30%;
  }
}

@media (max-width: 850px) {
  .btn-add {
    position: absolute;
    left: 35%;
  }
}

@media (max-width: 768px) {
  .movie {
    grid-template-columns: 1fr;
  }
  .search {
    width: 30vh;
  }
}

.portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 10rem 4rem;
}

.btn-modal {
  background: none;
  border: none;
  position: absolute;
 transform: translate(36.6rem, 1.4rem);
}

.window {
  width: 20rem;

}

.window h2 {
  margin: 2rem 0rem 1rem 2rem;
}
